.Avatar {
  display: flex;
  width: 100%;
  justify-content: center;

  &__imageContainer {
    width: 100%;
  }

  &__image {
    position: relative;
    width: 100%;
  }

  &__layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 15px;
    z-index: 1;
  }

  &__layer:first-child {
    position: relative;
    z-index: 0;
  }

  &__toolPanelContainer {
    margin-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .Avatar {
    flex-direction: column;

    &__toolPanelContainer {
      margin-left: 0;
    }
  }
}
