@import './generalTemporary.scss';
@import './Avatar.scss';
@import './ToolPanel/ToolPanel.scss';

.button {
  width: 200px;
  height: 50px;
  background: #F3992D;
  border: 0;
  border-radius: 15px;
  color: white;

  &:hover {
    background: #E3891D;
  }
}
