@import './ToolPanel.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: stretch;
  background: black;
}

.container {
  width: 450px;
  height: 378px;
}

.img {
  position: absolute;
  width: 450px;
  height: 378px;
  border-radius: 15px;
}

.button {
  width: 200px;
  height: 50px;
  background: #F3992D;
  border: 0;
  border-radius: 15px;
  color: white;

  &:hover {
    background: #eee;
  }

  &:focus {
    background: white;
  }
}
