.ToolPanel {
  display: flex;
  flex-direction: column;
  margin: 0 20px;

  &__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 250px;
    overflow: hidden;
    overflow-x: auto;
    margin: 5px 0;
    padding: 3px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
  }

  &__title {
    text-transform: capitalize;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
    margin-left: 3px;
  }

  &__titleWithCheckbox {
    display: flex;
  }

  &__checkbox {
    margin: 0 3px;
  }

  &__element {
    width: 100px;
  }

  &__colorPicker {
    width: 100%;
    display: flex;
    margin-top: 5px;
  }

  &__colorCircle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 2px;
  }

  &__prevButton,
  &__nextButton {
    margin-left: 3px;
    width: 24px;
    height: 24px;
    background: #F3992D;
    border: 0;
    border-radius: 5px;
    color: white;
  }
}
